
body {
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
    color: #2D3142;
    scroll-behavior: smooth;
}

a {
    color: white;
}

a:hover {
    color: white;
}

h1 {
    font-size:2.8rem;
    
}

.third p {
    font-size: 1.6rem;
}


.button {
  display: inline-flex;
  height: 40px;
  width: 150px;
  border: 2px solid white;
  margin: 20px 20px 20px 20px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .8em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.button a {
  color: white;
  text-decoration: none;
  letter-spacing: 1px;
  position: relative;
  transition: all .45s ease-out;
}

.circle {
  width: 0%;
  height: 0%;
  opacity: 0;
  line-height: 40px;
  border-radius: 50%;
  background: white;
  position: absolute;
  transition: all .5s ease-Out;
  top: 20px;
  left: 70px;
}

.button:hover .circle {
  width: 200%;
  height: 500%;
  opacity: 1;
  top: -70px;
  left: -70px;
}

.button:hover a {
  color: #2D3142;
}

#button-up:hover a {
  color: white;
}

#button-up {
  display: none;
  position: fixed;
  top: 90vh;
  left: 95vw;
  height: 40px;
  width: 40px;
  border: 2px solid #2D3142;
}

#button-up a {
color: #2D3142;
}

#button-up .circle {
  top: 0px !important;
  left: 0px !important;
  background: #2D3142;
}
#button-up:hover .circle {
  width: 200%;
  height: 500%;
  opacity: 1;
  top: -70px !important;
  left: -20px !important;
}
.fullscreen {
    width: 100vw;
    height: 100vh;
    background: #d2d2d2;
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
}

.pub {
    width: 100vw;
    background: #d2d2d2;
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
}

.third {
    width: 100vw;
    height: 35vh;
    background-image: url('media/tile.png');
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}

.title-container {
    background: linear-gradient( rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url(media/cover.jpg) no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    padding: 0 !important;
    color: white;
}

.header {
    height: 10%;
    font-size: 1.3rem;
}

.header-content {
    position: relative;
    display: inline-block;
    top: 50%;
    left: 75%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.header-item {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

.header-content-left {
    position: relative;
    display: inline-block;
    top: 50%;
    width: 50%;
    left: -10%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.body {
    height: 90%;
}

.title-content {
    position: relative;
    top: 15%;
    height: 70% !important;
    left: 25%;
    width: 50%;
    font-size: 1.2rem;
    text-align: center;
    padding-top: 20vh;
}

.title-content p {
    font-size: 1.6rem;
}



.pub-box {
    border: 2px solid #2D3142;
    width: 70%;
    left: 15%;
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 4%;
}

.pub-box .article-title {
    font-weight: bold;
}

.pub-box .author-list {
}

.pub-box .journal-info {
    padding-top: 1rem;
}

.pub-box .article-details {
    display: inline-block;
    height: 50%;
    width: 70%;
}

.pub-box .article-right {
    display: inline-block;
    height: 50%;
    width: 14%;
}

.pub-box .article-left {
    display: inline-block;
    height: 50%;
    width: 15%;
}

.article-button {
    width: 75%;
    border: 2px solid #2D3142;
}

.article-button a {
    color: #2D3142;
    font-weight: bold;
}

.pub h2 {
    padding-left: 5rem;
}

.article-button:hover a {
  color: white;
}

.article-button .circle {
    background: #2D3142;
}
