#hero {
  /*background: url("../img/brains.png") top right no-repeat;*/
  background-color: #fcfcff;
  color: #313131;
  background-size: cover;
  min-height: 100vh;
}

#hero h1 {
    font-size: 64px;
    font-weight: 700;
    color: #373c42;
    margin-bottom: 0;
  }
  
#hero h3 {
    color: #8f0d0d;
    font-size: 26px;
    font-family: "Poppins", sans-serif;
}

#hero-header {
    padding-left: 15px;
    padding-right: 15px;
}

body {
    font-family: "Open Sans", sans-serif;
    color: #14141b;
  }

a {
    color: #8f0d0d;
}

a:hover {
    color: #bd1616;
    text-decoration: none;
}

p {
    font-size: 1.2rem;
}

#hero .social-links a {
    font-size: 24px;
    display: inline-block;
    color: #45505b;
    transition: 0.3s;
    padding-left: 5px;
    padding-right: 5px;
}
  
#hero .social-links a:hover {
    color: #8f0d0d;
}

#hero .social-links .link-divider {
    font-size: 24px;
    font-weight: bold;
    color: #45505b;
}